<?xml version="1.0" encoding="utf-8"?>
<androidx.appcompat.widget.LinearLayoutCompat xmlns:android="http://schemas.android.com/apk/res/android"
    style="@style/ContentLayout"
    android:orientation="vertical">

    <com.example.kotlin.widget.AppBarView
        android:id="@+id/appBarView"
        style="@style/AppBar.Light"
        android:text="Settings" />

    <androidx.core.widget.NestedScrollView
        android:id="@+id/settingScrollView"
        style="@style/MatchParent">

        <androidx.appcompat.widget.LinearLayoutCompat
            style="@style/MatchWidth"
            android:orientation="vertical">

            <androidx.appcompat.widget.AppCompatTextView
                android:id="@+id/text"
                style="@style/Setting.Title"
                android:text="Account" />

            <com.example.kotlin.widget.SettingView
                android:id="@+id/settingItem1"
                style="@style/Setting.Item"
                android:checkable="true"
                android:checked="true"
                android:text="Enabled"
                android:title="Synchronize" />

            <com.example.kotlin.widget.SettingView
                style="@style/Setting.Item"
                android:text="****@gmail.com"
                android:title="Email" />

            <com.example.kotlin.widget.SettingView
                style="@style/Setting.Item"
                android:text="******"
                android:title="Password" />

            <com.example.kotlin.widget.SettingView
                android:id="@+id/settingItem4"
                style="@style/Setting.Item"
                android:background="@null"
                android:text="Enabled"
                android:title="Payment" />

            <androidx.appcompat.widget.AppCompatTextView
                android:id="@+id/text1"
                style="@style/Setting.Title"
                android:text="Appearance" />

            <com.example.kotlin.widget.SettingView
                android:id="@+id/settingItem5"
                style="@style/Setting.Item"
                android:text="Light"
                android:title="Theme" />

            <com.example.kotlin.widget.SettingView
                android:id="@+id/settingItem7"
                style="@style/Setting.Item"
                android:checkable="true"
                android:checked="true"
                android:text="Enabled"
                android:title="Notification" />

            <com.example.kotlin.widget.SettingView
                style="@style/Setting.Item"
                android:checkable="true"
                android:checked="false"
                android:text="Disabled"
                android:title="Location" />

            <com.example.kotlin.widget.SettingView
                style="@style/Setting.Item"
                android:background="@null"
                android:text="Default"
                android:title="Language" />

            <androidx.appcompat.widget.AppCompatTextView
                android:id="@+id/text2"
                style="@style/Setting.Title"
                android:text="Application" />

            <com.example.kotlin.widget.SettingView
                android:id="@+id/settingItem9"
                style="@style/Setting.Item"
                android:text="@string/develop_name"
                android:title="Develop" />

            <com.example.kotlin.widget.SettingView
                android:id="@+id/settingTextViewAppVersion"
                style="@style/Setting.Item"
                android:title="Version" />

            <com.example.kotlin.widget.SettingView
                android:id="@+id/settingItem11"
                style="@style/Setting.Item"
                android:background="@null"
                android:text="Last update 2018/09/28"
                android:title="Check for update" />

            <androidx.appcompat.widget.AppCompatTextView
                android:id="@+id/text3"
                style="@style/Setting.Title"
                android:text="System" />

            <com.example.kotlin.widget.SettingView
                android:id="@+id/settingTextViewOsName"
                style="@style/Setting.Item"
                android:title="OS" />

            <com.example.kotlin.widget.SettingView
                android:id="@+id/settingTextViewSdkVersion"
                style="@style/Setting.Item"
                android:title="SDK" />

            <com.example.kotlin.widget.SettingView
                android:id="@+id/settingTextViewDeviceName"
                style="@style/Setting.Item"
                android:title="Name" />

            <com.example.kotlin.widget.SettingView
                android:id="@+id/settingTextViewDeviceId"
                style="@style/Setting.Item"
                android:background="@null"
                android:title="ID/IMEI/ESN" />

            <include layout="@layout/view_developer" />

        </androidx.appcompat.widget.LinearLayoutCompat>

    </androidx.core.widget.NestedScrollView>

</androidx.appcompat.widget.LinearLayoutCompat>




